.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.info {
    margin-top: 20px;
    text-align: center;
    width: 800px;
}

.latest-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.latest-section{
    display: flex;
    margin-top: 30px;
}

.latest-info {
    text-align: center;
    width: 600px;
    list-style-type: none; 
}

.latest-info-container {
    display: flex;
    align-items: center;
}