.home-container {
    display: flex;
    justify-content: center;
    padding: 50px 100px;
}

.heading {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.text-container {
    max-width: 600px;
    text-align: center;
}