.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.register-navigate {
    text-decoration: underline;
    cursor: pointer;
}